/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
  color: #333333;
  padding: 24px;
}

.header {
  width: 100%;
  background-color: #28612a;
  color: #ffffff;
  text-align: center;
  padding: 32px 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: "serif";
}

.header p {
  font-size: 64px;
  font-weight: bold;
  margin-top: 16px;
}

.content {
  text-align: center;
  margin-top: 24px;
}

.content p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 16px;
}

.content .doa {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  line-height: 1.6;
}

.button-container,
.reset-button-container {
  margin-top: 16px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.big-round-button {
  width: 250px; /* Lebar tombol */
  height: 250px; /* Tinggi tombol */
  padding: 0; /* Menghilangkan padding */
  font-size: 18px; /* Ukuran font yang lebih besar */
  font-weight: 600;
  border: none;
  border-radius: 100%; /* Membuat tombol bulat */
  background-color: #19551a; /* Warna hijau */
  color: #ffffff; /* Teks putih */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-round-button:hover {
  background-color: #1d5c1e; /* Warna hijau */
}

.small-button {
  width: auto; /* Lebar menyesuaikan konten */
  padding: 8px 16px; /* Padding yang lebih kecil */
  font-size: 14px; /* Ukuran font yang lebih kecil */
  font-weight: 600;
  border: none;
  border-radius: 8px; /* Sudut yang lebih kecil */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.reset-button {
  background-color: #ff4444; /* Warna merah untuk tombol Reset */
  color: #ffffff;
}

.reset-button:hover {
  background-color: #9a1313; /* Warna merah yang lebih gelap saat hover */
}

.footer {
  margin-top: 48px;
  text-align: center;
  font-size: 14px;
  color: #666666;
  padding-bottom: 0%;
}

.footer p {
  margin: 8px 0;
}

.footer a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
